/*reseteo universal*/
*{
	border: 0;
	margin: 0;
	padding: 0;
}
/*article, figcaption,figure,footer,header,hgroup,nav,section{
	display: block;
}
*/

body{
	background: linear-gradient(blue,skyblue,yellow);
	font-family: castellar;
	font-size: 1em;
}
/*#titulo h1{
	font-size: 30px;
	text-align: center;
    
*/
}
a{
	color:green;
	font-weight: bold;
	text-decoration: none;
}
a:hover{
	color: pink;
}

header,section#contenido,footer{
	background: rgba(150,150,0,0.7);
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
}
header h1,nav{
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}
nav ul{
	list-style: none;
}
nav li{
	display: inline-block;
	padding: 0.1em;
	vertical-align: top;

}
nav a{
	background: silver;
	border: 5px dashed brown;
	border-radius: 0.25em;
	box-shadow: 0 0 10px 0.5px;
	color: yellow;
	display: block;
	font-family: algerian;
	font-size: 30px;
	padding: 0.2em;
	/*-webkit-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;*/
}
 nav a:hover{
	background: blue;
	border: 0.1em solid green;
	border-radius: 0.25em;
	color: black;
	/*-webkit-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;*/
}
figcaption{
	font-size: 0.85em;
	padding: 0.25em;
	text-align: center;

}
h2,h3{
	color: yellow;
	font-family: Arial;
}
h3{
	background: purple;
	border-radius: 1em;
	box-shadow: 0.25em 0.25em rgba(255,153,0,0.5);
	margin-bottom: 0.5em;
	padding-left: 0.5em;
}
hr{
	border:1px solid #212121;
	margin: 1em 0;
}
audio,iframe,img,video{
	max-width: 100%;
}

section#principal,aside{
	background: orange;
	border-radius: 0.5em;
	box-shadow: 0 0 10px 0.5px;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 0.25em;
	max-width: 100%;
	padding: 0.25em;
	vertical-align: top;
	width: 65%;

}

#titulo{
	font-family: algerian;
}
article#slider{
	border-radius: 0.5em;
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
	width: 95%;

}
aside{
	width: 30%;

}
section#productos-destacados{
	margin: 0 auto;
	width: 100%;

}
article#producto1,article#producto2,article#producto3{
	background: linear-gradient(pink,red,purple);
	border:0.3em solid pink;
	border-radius: 0.5em;
	max-width: 90%;
	min-height: 300px;
	padding: 0.5em;
	text-align: justify;
	width: 55%;
	color: #212121;
	display: inline-block;
	margin-bottom: 0.25em;

}
article#producto1,article#producto2,article#producto3{
	width: 30.55%;
	vertical-align: top;
	text-align: center;
}
footer{
	background: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 0.85em;
	padding: 0.75em 0;
}
div#leermas{
	margin-top: 1em;
	text-align: right;
}
.enviar{
	background: #5E0525;
	border-radius: 0.25em;
	border:0.1em solid #ce0027;
	color: white;
	font-family: "calibri";
	font-size: 1.25em;
	margin-top: 5em;
	padding: 0.25em;
	-webkit-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
	
}
.enviar:hover{
	background: #FC7C3D;
	border-radius: 0.25em;
	color: #212121;
	cursor: pointer;
	-webkit-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}
article#descripcion-acerca,article#multimedia-acerca{
	background: orange;
	border-radius: 0.5em;
	color: #212121;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 0.5em;
	max-width: 100%;
	min-height: 543px;
	padding: 0.5em;
	text-align: justify;
	vertical-align: top;
	width: 70%;
}
article#multimedia-acerca{
	text-align: center;
	width: 25%;
}

section#pa_ale{
	box-shadow: rgba(200,200,200,0.1) 0px 5px 30px inset;
	margin: auto;
	padding: 0.2em;
	width: 100%;

}
section#pa_ale section{
	background: #f1f1f1;
	border-radius: 0.5em;
	display: inline-block;
	color: #212121;
	vertical-align: top;
}
#pa_ale #parlantes{
	margin: 0;
	padding: 0;
	width: 68%;
}
#pa_ale #parlantes article{
	background: #EAAE4E;
	border-radius: 0.3em;
	cursor: pointer;
	display: inline-block;
	font-size: 0.9em;
	height: 270px;
	margin: 0.5% 0% 0% 1%;
	padding: 0.5em 0;
	vertical-align: top;
	transition:all 1s linear;
	width: 30%;
}
#pa_ale #parlantes article:hover{
	background: #FFF !important;
		-webkit-transform:scale(1.2) rotate(-365deg);
	transform:scale(1.2) rotate(-365deg);
}
#pa_ale #parlantes article:nth-child(even){
	background: #FC7C3D;
}
#contrato h1,p,label{
	font-family: algerian;
	
	

}




@media screen and (min-width: 1081px){
	header h1{
		text-align: left;
		width: 35%;

	}
	nav{
		text-align: right;
		width: 60%;
	}

}

@media screen and (max-width: 1080px){
	nav li{
		font-size: 1.3em;
	}
	
	article#slider{
		width: 90%;
	}
	
	aside{
		width: 20%;
	}

	article#descripcion-acerca, article#multimedia-acerca{
		width: 90%;
	}
	article#productos,#img-servicios,article#productos-destacados{
		width: 45%;
	}
	article#producto1,article#producto2,article#producto3{
		width: 30%;
	}

}

@media screen and (max-width: 800px){
	nav li{
		font-size: 0.95em;
	}
	
	article#slider{
		width:88%;

	}
	#img-productos,article#nuestros-servicios,article#producto1{
		display: block;
		margin: 0 0 0.25em 0;
		width: 95%;
	}
	#img-productos{
		width: 98%;
	}
	article#producto2, article#producto3{
		width: 45%;
	}

#pa_ale #parlantes article {
	display: block;
	width: 95%;
}

#pa_ale #parlantes{
	padding: 0.5em;
	margin-bottom: 0.2em;
	width: 90%;
}


/*Ancho minimo de 600*/
@media screen and (max-width: 600px){
	nav li{
		display: inline-block;
		margin: 0;
		width: 98%;
	}
	section#principal,article#producto2{
		margin-bottom: 0.2em;
	}
	section#principal,aside,article#productos,article#producto2,article#producto3{
		display: block;
		width: 95%;
	}
	#img-producto{
		display: none;
	}
	

}
